{% extends "base.html"%}
{%block body_block%}
<h1>Skills</h1>

<p>I have many skills i am a jack all of trade and even master of some.</p>
<P>I love to learn and i have no specific intrest, i am intressted in most things and subjects
    and thats i both a curse and a blessing. well i do disklike some things more then others 
    and like other more then i should but over all i am curius about everything and nothing 
</P>
<p>i been working with computers and networks since an early age i was on the now called 
    internet in 89 and mainly played MUDS i was useing my alltime favorite computer AMIGA 
    at that time and i still miss her
</p>
<p>
    on the c64 i started some basic coding but since i am dyslexic basic coding was horrible
    one error and you had the rewrite the hole code  
</p>
<p>on the Amiga i did code som CLi scrips and even tried some simple Assebler but my crew 
    allready had a few good coders so me and my close friend MEleht started in the TRADE
    we became network traders of our demo group and entered the sceen 
</p>
<p>1994 i started too learn C and pascal in school i was ok at it always got the hang of the logic 
    but the languages was harder  by dyslexia was still kinda bad so programming was still hard for me 
</p>
<p>my first run at university was political sience but on the sumemr break i took a course
    in basic java (java one no classes yet) and erlang
</p>
<p>later at university i learned java and c++ my focus at this time was game programming but 
    I soon found out i liked designing games more then i liked coding them
</p>
<p>after uni as was recruited by Kentor and started learning PLSQL and did some small Projects
    for Bredbandsbolaget but since i was a techinian i soon found my self installing Oracle servers
    and soon found my way back systemengineering and was basicly fulltime admin again like i 
    had been for many years before and my coding skills got lost again
</p>
<p>
    Now i am yet again back at learning to code currently learning Python and javascript but mainly Python
    python fits me well since its a more forgiving language and esier to find typos then in older languages
</p>




{%endblock%}